{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'app/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <head>
        <nav class="bd-navbar navbar is-warning">
            <div class="container">
                <div class="navbar-brand">
                    <p class="navbar-item">
                        <strong>LAPTOP DECISION</strong>
                    </p>
                </div>
    
                <div class="navbar-menu is-active is-warning">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'home' %}">
                            Homepage
                        </a>
                        <a class="navbar-item" href="{% url 'laptops' %}">
                            Laptops
                        </a>
                        <a class="navbar-item" href="{% url 'finder' %}">
                            Finder
                        </a>
                        <a class="navbar-item" href="{% url 'comparison' %}">
                            Compare
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </head>
    {% block body %}
    {% endblock %}
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Laptop Decision</strong> - All rights reserved.
          </p>
          <p>Planet Earth 🌎 | 2020</p>
        </div>
    </footer>
</body>
</html>