{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block title %}
Finder
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column">
                <h2 class="title is-3 has-text-centered">Finder</h2>
                <form id="finder_form" method="get">
                    <div class="field">
                        <div class="control">
                            <label class="label">Categories</label>
                            {{ filter.form.category| add_class:'input' }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label">Brand</label>
                            {{ filter.form.brand| add_class:'input' }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label">Laptop Model Name</label>
                            {{ filter.form.item_name| add_class:'input' }}
                        </div>
                    </div>
                    <div class="buttons is-centered">
                        <button type="submit" class="button is-rounded is-danger is-light">Find</button>
                        <a href="{% url 'finder' %}" class="button is-rounded is-danger is-light">
                            Reset Filters
                        </a>
                    </div>
                    <div class="buttons is-centered">
                    </div>
                </form>
            </div>
            <div class="column is-three-quarters">
                <h2 class="title is-3 has-text-centered">Results</h2>
                <table class="table is-fullwidth">
                    <tbody>
                        {% for item in filter.qs %}
                        <tr>
                            <td>
                                <p>
                                    <a class="title is-6">
                                        {{ item.brand }} - {{ item.item_name }}
                                    </a>
                                </p>
                                <p>
                                    Category: {{ item.category }} | 
                                    {{ item.cpu }} {{ item.cpu_speed }} | 
                                    {{ item.gpu }} | 
                                    {{ item.resolution }} |
                                    {{ item.ram_type }} {{ item.ram_size }} |
                                    {{ item.diskdrive }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}